<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/art_festival_logo.png" alt="Logo" class="Logo">
  </header>
  <section>
    <div class="artFestival_Box">
        <img src="/flea_market.png" alt="flea_market" class="Art_Img_Box">
        <div class="Festival_Infof">
            <h3>체험부스 및 플리마켓</h3>
            <h3>11:00 ~ 16:50</h3>
        </div>
    </div>
    <div class="artFestival_Box">
        <img src="/taekwondo.png" alt="taekwondo" class="Art_Img_Box">
        <div class="Festival_Infof">
            <h3>태권도 시범 공연</h3>
            <h3>17:10 ~</h3>
        </div>
    </div>
    <div class="artFestival_Box">
        <img src="/MUSIC.png" alt="MUSIC" class="Art_Img_Box">
        <div class="Festival_Infof">
            <h3>음악악부 창작협연 공연</h3>
            <h3>17:50 ~</h3>
        </div>
    </div>
    <div class="artFestival_Box">
        <img src="/MISICAL.png" alt="'MISICAL'" class="Art_Img_Box">
        <div class="Festival_Infof">
            <h3>연기예술학과 <br>뮤지컬 갈라쇼</h3>
            <h3>18:30 ~</h3>
        </div>
    </div>
    <div class="artFestival_Box">
        <img src="/fashion_show.png" alt="'fashion_show'" class="Art_Img_Box">
        <div class="Festival_Infof">
            <h3>패션쇼</h3>
            <h3>19:00 ~</h3>
        </div>
    </div>
  </section>

</body>
</html>