<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/bar_logo.png" alt="Logo" class="Logo">
  </header>
  <section>
    <div class="Bar_Box">
        <img src="/free_bar.jpg" alt="free_bar" class="Bar_Box_Img">
        <h1>자유전공</h1>
        <div class="inform">
          <p>빵빵한 EDM, JMT안주들, 꿀잼합석, 다양한 이벤트, TAKE-OUT 모두 가능한 가천메이드️<br>닭발, 아이스황도, 떡볶이, 나쵸, 주먹밥 메뉴들!</p>
        </div>
    </div>
    <div class="Bar_Box">
        <img src="/industrial_bar.jpg" alt="industrial_bar" class="Bar_Box_Img">
        <h1>산업경영공학과</h1>
        <h2>엄식당</h2>
        <div class="inform">
          <p>보쌈 맛집 인심좋은 엄식당으로 놀러오세요💙️</p>
        </div>
    </div>
    <div class="Bar_Box">
        <img src="/soft_bar.jpg" alt="soft_bar" class="Bar_Box_Img">
        <h1>소프트웨어학과</h1>
        <h2>소웨의 문라이트</h2>
        <div class="inform">
          <p>우리 함께 취해볼까요...♡️</p>
        </div>
    </div>
    <div class="Bar_Box">
        <img src="/global_bar.jpg" alt="global_bar" class="Bar_Box_Img">
        <h1>글로벌경영학과</h1>
        <div class="inform">
          <p>🥗쩡이네에서 강탈한 제육볶음🥗</br>
            닭발로🐾 맞을래? 주먹으로✊ 맞을래?</br>
            💥계란 탕탕탕💥</br>
            🍕(괴롭) 피자</br>
            👀왕눈이 주먹밥️</p>
        </div>
    </div>
    
    <div class="Bar_Box">
        <img src="/computer.jpg" alt="computer_bar" class="Bar_Box_Img">
        <h1>컴퓨터공학과</h1>
        <h2>컴공시그널</h2>
        <div class="inform">
          <p>컴공시그널 메뉴판!<br>떡볶이 가라아게 어묵 감자튀김 컵라면 츄로스</p>
        </div>
    </div>
    
    
    <div class="Bar_Box">
        <img src="/Business_bar.jpg" alt="Business_bar" class="Bar_Box_Img">
        <h1>경영학과</h1>
        <h2>경영의 집👻</h2>
        <div class="inform">
          <p>이벤트 : 돌려돌려 돌림판 🎯<br>
            돌림판을 들고 있는 제일 잘생기고 🤴🏻 제일 예쁜 👸🏻 친구를 찾아 시원한 음료수와 맛있는 안주 받아가기 ‼️</p>
        </div>
    </div>
    
    <div class="Bar_Box">
        <img src="/electric_bar.jpg" alt="electric_bar" class="Bar_Box_Img">
        <h1>전기공학과</h1>
        <h2>전기 세끼</h2>
        <div class="inform">
          <p>전기과 야간 매점에서 맛있는 음식 준비해 놓을테니까 많이 많이 와주세요😘️</p>
        </div>
    </div>
    
    <div class="Bar_Box">
        <img src="/low_bar.jpg" alt="low_bar" class="Bar_Box_Img">
        <h1>법학과</h1>
        <h2>법블레스유</h2>
        <div class="inform">
          <p>✨닭발, 닭똥집, 제육볶음 등 맛있는 안주<br>
            ✨알쓰들을 위한 깔라만씨, 미숫가루</br>💘💕(속닥속닥) 인형에 다양한 상품이 묶여있는 인형뽑기 기계도 있어요😚💕💘<</p>
        </div>
    </div>
    
    <div class="Bar_Box">
        <img src="/city_bar.jpg" alt="city_bar" class="Bar_Box_Img">
        <h1>도시계획학과</h1>
        <h2>도시의 후회</h2>
        <div class="inform">
          <p>밀리터리 컨셉으로 돌아와 남심,여심을 흔드는 야간매점으로 흥나는 축제를 즐기러 오십시오❤️
            <br>많은 이벤트를 준비했습니다. 단결!</p>
        </div>
    </div>

  </section>

</body>
</html>