<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/event_logo.png" alt="Logo" class="Logo">
  </header>
  <section>
    
    
    <div class="section_CardBox">
      <img src="/Quize.png" alt="QuizeShow">
      <h1>'갓'천 퀴즈쇼</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일</p>
        <p>12:00  ~ 12:40 / 13:00 ~ 13:40 / 14:00 ~ 14:40</p>
        <p >바람개비동산</p>
        <a href="https://www.facebook.com/479908658795801/posts/1800283470091640/" target="_balnk">▶more information</a>
      </div>
     </div>
      
    <div class="section_CardBox">
      <img src="/OMG.jpg" alt="OMG">
      <h1>사이버체전 OMG</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일</p>
        <p>10:00 - 20:00</p>
        <p>스타덤광장</p>
        <a href="https://www.facebook.com/1451330608421871/posts/2169664543255137/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/movie.jpg" alt="Movie">
      <h1>돗자리 영화제</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일 - 9월 18일</p>
        <p>17일 18:00 ~ 23:40 / 18일 20:00 ~ 23:40</p>
        <p>바람개비 동산</p>
        <a href="https://www.facebook.com/479908658795801/posts/1801280986658555/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/glamping.png" alt="Glamping">
      <h1>바글바글</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일 - 9월 19일</p>
        <p>11:00 ~ 17:00</p>
        <p>바람개비 동산</p>
        <a href="https://www.facebook.com/479908658795801/posts/1792766280843359/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/photo_zone.jpg" alt="Photo">
      <h1>찰칵찰칵</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일 - 9월 19일</p>
        <p>9:00 ~ 20:00</p>
        <p>가천관 1층</p>
        <a href="https://www.facebook.com/479908658795801/posts/1803281983125122/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/escape_room.png" alt="Escape Room">
      <h1>방탈출</h1>
      <div class="CardBox_textContnet">
        <p>9월 17일 - 9월 19일</p>
        <p>11:00 ~ 17:00</p>
        <p>바이오나노대학 지하 1층 놀이터 입구</p>
        <a href="https://www.facebook.com/479908658795801/posts/1798999033553417/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/facepainting.jpg" alt="Face painting">
      <h1>페이스 페인팅</h1>
      <div class="CardBox_textContnet">
        <p>9월 18일 - 9월 19일</p>
        <p>11:00 ~ 17:00</p>
        <p>스타덤광장</p>
        <a href="https://www.facebook.com/479908658795801/posts/1803281983125122/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/talk_concert.png" alt="Talk Concert">
      <h1>토크 콘서트 청춘낙서</h1>
      <div class="CardBox_textContnet">
        <p>9월 18일</p>
        <p>18:30</p>
        <p>바람개비 동산</p>
        <a href="https://www.facebook.com/479908658795801/posts/1798965970223390/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/club.jpg" alt="Club">
      <h1>동아리연합회 호러클럽</h1>
      <div class="CardBox_textContnet">
        <p>9월 18일</p>
        <p>18:00 ~ 21:00</p>
        <p>학생회관</p>
        <a href="https://www.facebook.com/790883494312873/posts/1911829132218298/" target="_balnk">▶more information</a>
      </div>
    </div>
    
    <div class="section_CardBox">
      <img src="/promotion.png" alt="Promotion">
      <h1>프로모션 부스</h1>
      <div class="CardBox_textContnet">
        <p>9월 19일</p>
        <p>공대1&학군단</p>
      </div>
    </div>
  </section>
  
</body>
</html>