<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/main.png" alt="Logo" class="Logo">
  </header>
  <section class="indexPage">
      <a href="/event" class="imgButton"><img src="/event.png" alt="event"></a>
      <a href="/performance" class="imgButton"><img src="/performance.png" alt="performance"></a>
      <a href="/Art_festival" class="imgButton"><img src="/art_festival.png" alt="art_festival"></a>
      <a href="/bar" class="imgButton"><img src="/bar.png" alt="bar"></a>
      <a href="/map" class="imgButton"><img src="/map.png" alt="map"></a>
  </section>
   <footer>
    <img src="/festival_applay.png" alt="">
    <h4>가천대학교 중앙동아리 APPLAY / Kakao talk : @Applay</h4>
  </footer>

</body>
</html>