<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/map_logo.png" alt="Logo" class="Logo">
  </header>
  <section class="map">
      <img src="/map.jpg" alt="map">
  </section>
 
    <footer>
    <img src="/festival_applay.png" alt="">
    <h4>가천대학교 중앙동아리 APPLAY / Kakao talk : @Applay</h4>
  </footer>

</body>
</html>