<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>가천대학교 축제</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
      <img src="/performance_logo.png" alt="Logo" class="Logo">
  </header>
  <section>
    <div class="section_ArtistBox">
      <img src="/mamamu.png" alt="mamamu_img" class="Artist_Img">
      <img src="/info_mamamu.png" alt="info_mamamu" class="Artist_Info">
    </div>
    <div class="section_ArtistBox">
      <img src="/HAON.png" alt="HAON_img" class="Artist_Img">
      <img src="/HAON_info.png" alt="info_HAON" class="Artist_Info">
    </div>
    <div class="section_ArtistBox">
      <img src="/jang.png" alt="jang_img" class="Artist_Img">
      <img src="/jang_info.png" alt="info_jang" class="Artist_Info">
    </div>
    <div class="section_ArtistBox">
      <img src="/LCJ.png" alt="LCJ_img" class="Artist_Img">
      <img src="/LCJ_info.png" alt="info_LCJ" class="Artist_Info">
    </div>
  </section>

</body>
</html>